PROJECT_NAME=IHAESGE Backend
PROJECT_VERSION=0.1.0
ENVIRONMENT=development
API_V1_PREFIX=/api/v1

POSTGRES_USER=ihaesge
POSTGRES_PASSWORD=ihaesge
POSTGRES_DB=ihaesge
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

LOG_LEVEL=INFO
